:global {
  @import "../../node_modules/normalize.css/normalize.css";

  html {
    font-size: 18px;
    font-family: "IBM Plex Sans", sans-serif;
    /* background-image: url("../assets/money.jpg"); */
    background-size: contain;
    break-inside: avoid;
  }

  body {
    padding: 0;
    margin: 0;
  }
}

.grid {
  display: grid;
  grid-template: "left" "right";
}
